
 
    <!--<h2>{{user.email}} Details</h2>
    <div><span>email: </span>{{user.email}}</div>
    <div>
      <label for="user-email">User email: </label>
     <input id="user-email"  placeholder="User email"/> 
     <div>
      <input class="btn btn-primary submit-button" type="submit" value="Save" style="margin-top: 5px;" />
    </div>
    </div>
  
  <div *ngIf="user"> [(ngModel)]="user.email" -->

    <div id="new-home-listing">
      <h2>User email</h2>
      <form id="user-email" (ngSubmit)="getUser();" #emailForm >
          <div class="form-group">
              <label for="email">Email</label>
              <input [(ngModel)]="user.name" name="email" class="form-control" id="email" type="text"  />
    
          </div>
          <div>
              <input class="btn btn-primary submit-button" type="submit" value="Save" style="margin-top: 5px;" />
          </div>
      </form>
  </div>