<mat-toolbar class="nav-bar mat-elevation-z2">
    <mat-label>Telecom Customer Portal</mat-label>
    <span style="flex: 1 1 auto;"></span>
    <!-- <ng-container>
      <mat-icon>language</mat-icon>
      <button mat-button [matMenuTriggerFor]="menu">
        {{siteLanguage}}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item href="/en">English</a>
        <a mat-menu-item href="/es">Spanish</a>
      </mat-menu>
    </ng-container>   -->
  </mat-toolbar>
<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 i18n="@@introductionHeader" class="card-header text-center">LOG IN</h4>
        <div class="card-body">
            <form id="login" (ngSubmit)="onSubmit();" #login>
                <div class="form-outline mb-4">
                    <mat-form-field style="margin-left: 85px; width:80%" appearance="standard">
                        <mat-label i18n="@@emailHeader">Email</mat-label>
                        <input matInput [(ngModel)]="users.email" type="text" name="Email" id="Email" required
                            #Email="ngModel" class="form-control" />
                        <mat-error i18n="@@emailRequired" *ngIf="Email.invalid">Email is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-outline mb-4">
                    <mat-form-field style="margin-left: 85px; width:80%" appearance="standard">
                        <mat-label i18n="@@passwordHeader">Password</mat-label>
                        <input matInput [(ngModel)]="users.password" type="password" name="Password" id="Password"
                            required #Password="ngModel" class="form-control" />
                        <mat-error i18n="@@passwordRequired" *ngIf="Password.invalid">Password is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group" style="width: 55%;margin-left: 175px;">
                    <button i18n="@@loginButton" type="submit" class="btn btn-primary btn-block mb-4">Log In</button>
                </div>
                <div *ngIf="regisFlag"
                    style="padding: 5px;background-color: #EFEFEA;border: 2px solid black;text-align: left;display: flex;">
                    <i class="fas fa-exclamation-triangle" style="color: red;margin-right: 12px;margin-top: 5px;"></i>
                    <div style="text-align: left;display: inline;">
                        <div>
                            <span i18n="@@invalidMsg">The info you entered doesn't match our records. Please try again or select Sign Up.</span>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="font-size: 20px;margin-top: 20px;">
                    <p><span i18n="@@notAMember">Not a member?</span>
                        <button type="button" style="text-decoration: none; font-size: 20px;" class="btn btn-link"
                            data-mdb-ripple-color="dark">
                            <a i18n="@@signUpButton"style="text-decoration: none;" [routerLink]="['/registration']">SIGN UP</a>
                        </button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <div style="text-align: center;">
    <img
        src="https://i1.wp.com/www.encompass-inc.com/wp-content/uploads/2018/07/customer-service-portals.jpg?resize=1140%2C400&ssl=1" />
</div> -->