<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header text-center">LOGIN</h4>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="Email" class="form-control" />
                  <label class="form-label" for="form1Example1">Email address</label>
                </div>
              
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form1Example2" class="form-control" />
                  <label class="form-label" for="form1Example2">Password</label>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                <div class="text-center" style="    font-size: 20px;
                margin-top: 20px;">
                  <p>Not a member? <button type="button" style="text-decoration: none;" class="btn btn-link" data-mdb-ripple-color="dark"><a style="text-decoration: none;" [routerLink]="['/registration']">SIGN UP</a></button></p>    
                                
                </div>
              </form>            
        </div>
    </div>
</div>
